# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Dependency directories
node_modules/

# Build output (si usas bundler)
dist/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Photoshop / diseño
*.psd
*.psb
*.tmp

el-rata-alada-firebase-adminsdk-fbsvc-a98ee93d05.json
