body {
    background-color: black;
    color: lime;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Courier New", monospace;
    padding: 10px;
    white-space: pre-wrap;
    overflow: hidden;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#command-form {
    display: flex;
    align-items: center;
}

span {
    color: lime;
    padding-right: 10px;
}

#command-input {
    background-color: black;
    color: lime;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: "Courier New", monospace;
    flex-grow: 1;
}

.console {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px;
}

.output {
    overflow-y: auto;
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    border: 1px solid lime;
    padding: 10px;
}

#output {
    font-weight: lighter;
    color: lime;
    overflow-y: auto;
    margin-top: -40px;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    background-color: black;
    color: lime;
    border: none;
    outline: none;
    font-family: "Courier New", monospace;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.login-container input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}